<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leapstack.wanglong.mall.dao.mapper.SmsCouponProductCategoryRelationMapper" >
  <resultMap id="BaseResultMap" type="com.leapstack.wanglong.mall.dao.domain.SmsCouponProductCategoryRelation" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="coupon_id" property="couponId" jdbcType="BIGINT" />
    <result column="product_category_id" property="productCategoryId" jdbcType="BIGINT" />
    <result column="product_category_name" property="productCategoryName" jdbcType="VARCHAR" />
    <result column="parent_category_name" property="parentCategoryName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>