<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leapstack.wanglong.mall.dao.mapper.UmsMemberTagMapper" >
  <resultMap id="BaseResultMap" type="com.leapstack.wanglong.mall.dao.domain.UmsMemberTag" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="finish_order_count" property="finishOrderCount" jdbcType="INTEGER" />
    <result column="finish_order_amount" property="finishOrderAmount" jdbcType="DECIMAL" />
  </resultMap>
</mapper>